.character-card {
  position: relative;
  width: 172.5px;
  background-color: black;
}

.character-card:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 13px solid white;
  border-left: 13px solid transparent;
}

.character-image {
  width: 172.5px;
  border-bottom: 5px solid var(--marvel-red);
}

.character-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 16px 16px 24px 16px;
  color: white;
  text-transform: uppercase;

  background: linear-gradient(
    to bottom,
    var(--marvel-red),
    var(--marvel-red) 50%,
    black,
    black 50%
  );
  background-size: 100% 200%;
  background-position: 100% 100%;
  transition: all ease-in-out 300ms;
}

.character-card:hover .character-info {
  background-position: 0 0;
}
